<div style="background-color:#fff;padding:5px;">
<div style="margin:10px;">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="breadcome-heading">
<form role="search" class="sr-input-func">
<input type="text" id="suggest_contact" placeholder="Search..." class="search-int form-control">
<a href="#"><i class="fa fa-search"></i></a>
</form>
</div>
</div>

<div class="button-ap-list responsive-btn">
<div class="btn-group btn-custom-groups btn-custom-groups-one btn-mg-b-10">
<button style="margin-right:30px;" type="button" id="add_contact" class="btn btn-primary" data-toggle="modal" data-target="#PrimaryModalhdbgcl"><i class="fa fa-plus-square " aria-hidden="true"></i> Add Contact</button>
<button style="margin-right:30px;" type="button" id="import_contacts" class="btn btn-success" data-toggle="modal" data-target="#PrimaryModalhdbgclUpload"><i class="fa fa-upload " aria-hidden="true"></i> Import Contacts</button>
<select name="filter"  class="form-control" style="width:100px;margin-right:50px;" id="filter">
<option selected value="">Default</option>
<option   value="50">50</option>
<option value="100">100</option>
<option value="200">200</option>
</select>
</div>
</div>
</div><hr/>
<script type="text/javascript">
        //lets have a function to auto suggest searches invoices
        $(document).ready(function(){
		  $('#loader_suggest').hide();
        $('#suggest_list').hide();
        $('#suggest_list_div').hide();      
        $("#suggest_contact").keyup(function(e){
            e.preventDefault(); 
           $('#loader_suggest').show();			
            //hide table data
            $("#table_content_section").hide();
            //hide pagination
            $("#paginated_data").hide();
            //hide records found
            $("#rec_found").hide();
            var min_length = 1; // min caracters to display the autocomplete
            var keyword = $('#suggest_contact').val();
            if (keyword.length >= min_length) {
                $.ajax({
                    url: '../process/suggest_contact.php',
                    type: 'POST',
                    data: {keyword:keyword},
                    success:function(data){
					    $('#loader_suggest').hide();
                        //show suggestions
                        $('#suggest_list_div').show();
                        $('#suggest_list').show();
                        $('#suggest_list').html(data);
						
                    }
                });
            }else{
			    $('#loader_suggest').hide();
                //hide suggestions
                $('#suggest_list').hide();
                $('#suggest_list_div').hide();
                //show table data
                getdata(1);
                $("#table_content_section").show();
                //show pagination
                $("#paginated_data").hide();
                //show records found
                $("#rec_found").show();
            }

        });
       function selectItem(val) {
		$("#suggest_contact").val(val);
		$("#suggest_list_div").hide();
		}
        function set_item(item) {
            // change input value
            $('#suggest_contact').val(item);
            // hide proposition list
            $('#suggest_contact').hide();
        }
    });
    $(document).keypress(
     function(event){
     if(event.which == '13') {
     event.preventDefault();
     }
   });
</script>
<div id="PrimaryModalhdbgclUpload" class="modal modal-edu-general default-popup-PrimaryModal fade" role="dialog">
       <div class="modal-dialog">
       <div id="upload_content">
           <div class="modal-content">
           <div class="modal-header header-color-modal bg-color-1">
                <h4 class="modal-title">Import Contacts  </h4> 
                 <div class="modal-close-area modal-close-df">
				      <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
				      </div>                                                      
            </div>
            <div class="modal-body"> 
         <p>Import contacts from an Excel CSV file. Columns must follow the sequence "Contact Name","Mobile No" and "Account No".</p>
         <p> The mobile/phone number must be in the format 254721123456. Contacts that dont meet the criteria will be skipped.</p>
            <hr/>
            <form id='form_upload_data' method='post' enctype='multipart/form-data' >
            <input type="file" name="import_contacts" id="file_import_contacts" class="form-control" /> <br/>
            </form>
            <button id="upload_contacts" class="btn btn-success"><i class="fa fa-upload"></i> Upload</button>
            <a id="upload_loader"><img src="../../img/loader.gif" width="50" height="50" />Importing contacts...</a> 
            
           </div>
            <div id="response_upload"></div>
          </div>
          
        </div>    
         
    </div> 
    <script>
    $(document).ready(function(){
    $("#upload_loader").hide();
    $("#upload_contacts").click(function(e){
    $("#response_upload").empty();
    $("#upload_contacts").hide();
    $("#upload_loader").show();
    formdata = new FormData();
    if($("#file_import_contacts").prop('files').length>0){
     file =$("#file_import_contacts").prop("files")[0];
     formdata.append("import_contacts",file);
    }
    e.preventDefault();
     jQuery.ajax({
    	url:"../../process/import_contacts.php",
    	method:"POST",
    	data: formdata,
    	contentType:false,
    	cache:false,
    	processData:false,
    	success: function(response){
    	$("#response_upload").html(response);

    	$("#upload_loader").hide();
    	$("#upload_contacts").show();
    	}
    });
    });
    });
    </script>                           
</div>
                                
<div id="PrimaryModalhdbgcl" class="modal modal-edu-general default-popup-PrimaryModal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
							
								<div id="form_content">
                                    <div class="modal-header header-color-modal bg-color-1">
                                        <h4 class="modal-title">Add  New Contact  </h4> 
                                        <div class="modal-close-area modal-close-df">
				                            <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
				                           </div>                                   
                                    </div>
                                    <div class="modal-body"> 
                                   									
                                          <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Full Name:</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" class="form-control" name="contact_name" id="contact_name"/> 
																<span class="contact_name_error"><font color="red">* Enter contact name </font></span>
                                                            </div>
                                                        </div>
                                           </div>
										   <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Mobile No</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" class="form-control" name="mobile_no" id="mobile_no"/> 
																<span class="mobile_no_error"><font color="red">* Enter mobile no </font></span>
                                                            </div>
                                                        </div>
                                           </div>
	
										   <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">A/C No / Ref No:</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" class="form-control" name="account_no" id="account_no"/> 
																<span class="account_no_error"><font color="red">* Enter account no or reference no</font></span><br/>
														
                                                            </div>
                                                        </div>
                                           </div>
										  
                                    </div>
                                    
									<div style="margin:20px; padding:20px;">
									    <a id="loader"><img src="../img/loader.gif" width="50" height="50" /></a>                                                                         
                               <a href="#" class="btn btn-primary" id="save">Save</a>
										
										
								    </div>	
									
									</div>
									<div style="margin:20px; padding:20px;" id="response"></div>
                                </div>
                            </div>
                        </div>

<script>

$(document).ready(function(){  
$("#loader").hide();
$(".contact_name_error").hide();
$(".mobile_no_error").hide();
$(".account_no_error").hide();

$("#save").click(function(){
$("#response").empty();
contact_name = $("#contact_name").val();
mobile_no = $("#mobile_no").val();
account_no = $("#account_no").val();
error = false;

if(contact_name===''){
$(".contact_name_error").show();
$("#contact_name").css("border-color","red");
error = true;
}else{
error = false;
$(".contact_name_error").hide();
$("#contact_name").css("border-color","green");
}

if(mobile_no===''){
$(".mobile_no_error").show();
$("#mobile_no").css("border-color","red");
error = true;
}else{
error = false;
$(".mobile_no_error").hide();
$("#mobile_no").css("border-color","green");
}

if(account_no===''){
$(".account_no_error").show();
$("#account_no").css("border-color","red");
error = true;
}else{
error = false;
$(".account_no_error").hide();
$("#account_no").css("border-color","green");
}



//Send request to server for processing if no erros
if(error == false){
//Hide Button
$("#save").hide();
//Show loader
$("#loader").show();

myData = "contact_name=" + contact_name + "&account_no=" + account_no + "&mobile_no=" + mobile_no;
jQuery.ajax({
type: "POST",
url: "../process/add_contact.php",
dataType: "text",
data: myData,
success: function(b) {
$("#response").append(b);
$("#loader").hide();
$("#save").show();
$("#response").show();
}
});
}
});
});
</script>
<div id="suggest_list_div"><ul id="suggest_list"></ul></div><br/>
<div id="loader_suggest"><img src="../img/loader.gif" width="30" height="30" /><strong>Searching...</strong></div>
<div id="table_content_section">
<h4>Contacts</h4><hr/>
<div id="loader_contacts"><img src="../img/loader.gif" width="40" height="40" /><strong>Loading data, please wait...</strong></div>           
<div id="contacts_data"></div>
</div>
</div>		
			<script>
			$(document).ready(function(){
			  $("#loader_contacts").hide();
				getdata(1);
				function getdata(pageno){
				$("#loader_contacts").show();
				// source of data	
				var myData = 'page=' + pageno;
				 jQuery.ajax({
				 type: "GET", // Post / Get method
				 url: "../views/settings/loads/contacts.php", //Where form data is sent on submission
				 dataType:"text", // Data type, HTML, json etc.
				 data:myData, //Form variables
				 success:function(response){
				 $("#contacts_data").html(response);
			    
             }
             
			 });
			 $("#loader_contacts").hide();
			}		
			});						
			//filter change event
			$("#filter").change(function(){
			$("#contacts_data").empty();
			filter_val = $("#filter").val();
			pageno = 1;
			$("#loader_contacts").show();
				// source of data	
				var myData = 'page=' + pageno + '&filter=' + filter_val;
				 jQuery.ajax({
				 type: "GET", // Post / Get method
				 url: "../views/settings/loads/contacts.php", //Where form data is sent on submission
				 dataType:"text", // Data type, HTML, json etc.
				 data:myData, //Form variables
				 success:function(response){
				 $("#contacts_data").html(response);
			    $("#loader_contacts").hide();
                 }
				});
			});
</script>

						
						
