 <?php
 $company = sanitize_string($_GET['company']);
 $short_code = sanitize_string($_GET['short_code']);
 $service_id = sanitize_string($_GET['service_id']);

 //Get short code details
 $query = $conn->prepare("SELECT csc.id AS company_short_code_id, csc.keyword,sc.short_code,sc.service_id, company_name
 FROM company_short_codes AS csc LEFT JOIN short_codes AS sc ON sc.id = csc.short_code_id
 LEFT JOIN company AS c ON c.id = csc.company_id
 WHERE sc.id='".$short_code."' AND sc.service_id='".$service_id."' AND csc.company_id='".$company."' LIMIT 1");
 $query->execute();
 $query_row = $query->fetch(PDO::FETCH_ASSOC);

 //Lets count unread messages
 $unread = $conn->prepare("SELECT id AS message_id FROM incoming_messages WHERE short_code_id='".$short_code."' AND service_id='".$service_id."' AND company_id='".$company."' AND msg_read='N' ");
 $unread->execute();
 $unread_count = $unread->rowCount();
 if($query_row['keyword']==''){
 $keyword ='N/A';
 }else{
 $keyword = $query_row['keyword'];
 }
 ?>
 <div style="background-color:#fff;padding:5px;">
 <br/><a href="#">Home</a> > <a href="#"><?php echo titleCase($query_row['company_name']); ?></a> > <a href="?short_codes&action=view_short_codes&client_id=<?php echo $company;?>">Short Codes </a> > 
 <a href="#"><?php echo $query_row['short_code'];?> </a> > <a href="#">Messages </a>
<hr/>
    <div class="mailbox-area mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-md-3 col-sm-3 col-xs-12">                       
                                <ul class="mailbox-list">
                                    <li class="active" id="inbox_link">
                                    <a href="#" id="incoming_messages">
          												<span class="pull-right"><?php echo $unread_count; ?></span>
          												<i class="fa fa-envelope"></i> Inbox
          											   </a>
                                    </li>
                                    <li id="outbox_link">
                                        <a href="#" id="outgoing_messages"><i class="fa fa-paper-plane"></i> Sent</a>
                                    </li>
                                    
                                </ul>
                    </div>
                    <script>
                    $(document).ready(function(){
                    //Empty Messages Content DIv
                    $('#message_content').empty();
                    //hide loader
                    $("#wait_messages").show();
                    //Load Messages In Inbox
                    var myData = 'short_code='+<?php echo $short_code; ?>;
                   jQuery.ajax({
          				 type: "GET", // Post / Get method
          				 url: "views/short_codes/outgoing_messages.html", //Where form data is sent on submission
          				 dataType:"text", // Data type, HTML, json etc.
          				 data:myData, //Form variables
          				 success:function(response){
          				 $("#message_content").html(response);
        			     $("#wait_messages").hide();
                  }
          			 });
 								
 							//Outgoing Messages click event
 							$("#outgoing_messages").click(function(){
              $("#message_content").empty();
 							$("#outbox_link").addClass("active");
              $("#inbox_link").removeClass("active");
 							$('#message_content').empty();
 							$("#wait_messages").show();
              short_code = <?php echo $short_code; ?>;                                      
              var myData = 'short_code='+ short_code;
 							//Load Messages In Inbox
               jQuery.ajax({
          				 type: "GET", // Post / Get method
          				 url: "views/short_codes/outgoing_messages.html", //Where form data is sent on submission
          				 dataType:"text", // Data type, HTML, json etc.
          				 data:myData, //Form variables
          				 success:function(response){
          				 $("#message_content").html(response);
        			     $("#wait_messages").hide();
                  }
          			 });
 							
 							});
 							
 							//Incoming Messages Click Event
 							$("#incoming_messages").click(function(){
              $("#message_content").empty();
 							$("#inbox_link").addClass("active");
              $("#outbox_link").removeClass("active");
 							$('#message_content').empty();
 							$("#wait_messages").show();
              short_code = <?php echo $short_code; ?>;                                      
              var myData = 'short_code='+ short_code;
 							//Load Messages In Inbox
              jQuery.ajax({
          				 type: "GET", // Post / Get method
          				 url: "views/short_codes/incoming_messages.html", //Where form data is sent on submission
          				 dataType:"text", // Data type, HTML, json etc.
          				 data:myData, //Form variables
          				 success:function(response){
          				 $("#message_content").html(response);
        			     $("#wait_messages").hide();
                  }
          			 });
 							
 							});
                    
                    });
                    </script>
                   <div id="wait_messages" style="padding:10px; marging:10px;"><img src="../img/loader.gif" width="40" height="40" /><h5>Loading messages...</h5></div>					
                    <div id="message_content">
                    
                    </div>
                </div>
            </div>
        </div>
        </div>